/*header */

header{
    background-color: #bbbbbb;
    padding: 20px 0px;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin:0 0 0 15px

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}


/*header*/

.banner
{
    width: 100%;
}

/* index main */

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}


.principal{
    padding: 3em 0;
    background-color: #fefefe;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 0 20px;
}


.mapa h3{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding: 1em 0;;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}


.beneficios{
    height: auto;
    padding: 3em 0;
}

.beneficios h3
{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.imagembeneficios {
    width: 30%;
    float: right;
    margin: 0px 150px 0 0px;
    padding: 20px 0 0 0 ;

}

.items {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 150px;
    padding: 60px 0 0 0;
    line-height: 1.5;
    
}


.video{
    padding: 3em 0;
    display: block;
    margin: 80px 0;
    clear: right;
    text-align: center;
}

/* Index */


/* Página produtos */

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;

}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 500px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 50px;
}

.produtos li:hover {
    border-color: #c78c19;
}


.produtos li:active {
    border-color: #088c19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}



.produto-descricao {
    font-size: 18px;
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

/* Página produtos*/

/* Contato */

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    margin: 0 0 10px 0;
}

.inputpadrao {
    display: block;
    margin: 0 0 10px 0;
    padding: 10px 10px;
    width: 50%;
}
.checkbox{
    padding: 10px 0;
}

form p {
    color: blue;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: blue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}

.enviar:hover {
    background: darkblue;
    
}

/*Contato */

/* Rodapé */

footer {
    text-align: center;
    background: url("banner/bg.jpg");
    padding: 20px;
}

.copyrigth {
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px;
}




